
<head>
	<meta charset="utf-8" />
	<title>Atrion Project List</title>
</head>
 <div ng-app = "thinkster" ng-controller = "ProjectController" class="well  well-lg">
	  <table tr-ng-grid=''  items="Projectdata" class = "table formbackgroundcolor">
				  <thead>
						<tr>
							<th field-name="project_name" display-name="Project" enable-filtering="true" enable-sorting="true" cell-width="10em" display-align="right">
							</th>
							  <th field-name="project_startdate" display-name="Start Date"display-align="center" >
							</th>
							  <th field-name="created_at" display-name="Created"display-align="center" >
							</th>
							  <th field-name="project_status" display-name="Status" display-align="center">
							</th>                            
							  <th field-name="customer" display-name="Customer" display-align="center">
							</th>                            
							  <th field-name="employee" display-name="Emplaoyee" display-align="center">
							</th>
						</tr>
				</thead>
		  </table>  
     
	 

	 <form class="form-horizontal formbackgroundcolor" role="form">
		  <hr />
		 <h3>Add New Project</h3>
		 <hr />
				  <div class="form-group">
					<label class="control-label col-sm-2" for="email">Project Title:</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="email" placeholder="Enter Project Title">
					</div>
				  </div>
		  <hr />
		 <div class="form-group"> 
			 <label class="control-label col-sm-2" for="email">Project Status:</label>
				  <label class="radio-inline">
					  <input type="radio" name="optradio">Initial
					</label>
					<label class="radio-inline">
					  <input type="radio" name="optradio">In Progress
					</label>
					<label class="radio-inline">
					  <input type="radio" name="optradio">Completed
					</label>
			 </div>
		  <hr />	  
		   <div class="form-group"> 
			 <label class="control-label col-sm-2" for="Date">Project Start Date:</label>		       
				<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> 
			   </div>
		 <hr />  
		
		 <div class="form-group"> 
		 <label class="control-label col-sm-2">Assign Employee :</label>	                        
                            <ui-select ng-model="selectedItem" theme="bootstrap" style="width:200px;">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.employee_firstname"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (Employeedata | filter: $select.search) track by item.id">
                                        <span ng-bind="item.employee_firstname"></span>
                                </ui-select-choices>
                            </ui-select>

			                      <!--<div>
                          <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default" ng-click="submit()">{{Employeedata.employee_firstname}}</button>
                            <button type="button" class="btn btn-default dropdown-toggle">
                              <span class="caret"></span>
                              <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                              <li ng-repeat="emp in Employeedata track by $index">
                                <a href="#" ng-click="setAction(action)">{{emp.employee_firstname}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>-->
                        <!--<select ng-model="selectedEmployee"  ng-options="e as e.employee_firstname for e in Employeedata"></select>-->
            
                    <!--<select id="mySel" >
                        <option ng-repeat="item in Employeedata" ng-selected="item.selected" ng-model="selectedEmployee">{{item.employee_firstname}}</option>
                    </select>-->
			        </div>
            
					 <hr>  					                  			  
				  <div class="form-group"> 
					<div class="col-sm-offset-2 col-sm-10">
					  <button type="submit" class="btn btn-primary">Add Project</button>
					</div>
				  </div>
		  <hr />
	   
		  <hr />
	</form>      
   </div>


 